

@*mesaj pt stergere sau adaugare postare*@
@if (ViewBag.Msg != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5" @ViewBag.MsgType>@ViewBag.Msg</div>
}



@foreach (var post in ViewBag.Posts)
{
    <a asp-controller="Posts" asp-action="Show" asp-route-id="@post.Id">
        <partial name="PostIndexShow" model="post" />
    </a>
    
}
<br />



