<h2>Formular adaugare postare</h2>
<form method="post" action="/Posts/New">
    <label>Descriere</label>
    <br />
    <input type="text" name="Description" />
    <br />
    <br />
    <button type="submit">Posteaza</button>
</form>
