@model ProiectDAW.Models.Post

<h2>Add a new post</h2>

<form id="new_post_form" enctype="multipart/form-data" asp-controller="Posts" asp-action="New">
    <div class="form-group"> 
        <label asp-for="Description" class="form-label">Description</label> 
        <br /> 
        <input asp-for="Description" class="form-control" /> 
       
        <br /><br /> 
    </div>
    <div class="form-group"> 
        <label asp-for="Image">Upload an image</label> 
        <input asp-for="Image" class="form-control" type="file" /> 
    </div>
    <br />
    <div>
        <label asp-for="linkVideo" class="form-label">Youtube video link</label>
        <input asp-for="linkVideo" class="form-control" type="text" />
    </div>

    <br />
    <div class="form-group">
        <label asp-for="Location" class="form-label">Enter the address of your location</label>
        <input id="autocomplete" type="text" placeholder="Introduceți locația" style="width: 100%; padding: 10px; margin-bottom: 10px;">
        <partial name="MapNew" model="Model"></partial>
        
    </div>
    <br />
    <button class="btn btn-success" type="submit">Publish</button>
</form>
<br />


@if (!ViewData.ModelState.IsValid) //validare ca postarea sa nu fie goala
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(false)
    </div>
}
