@model ProiectDAW.Models.Post

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert" @TempData["msgType"]>@TempData["msg"]</div>
}
<br />
    
@if (Model != null)
{
    <partial name="PostIndexShow" model="Model" /> 
}

@if (Model.Location != null)
{ 
    <partial name="MapShow" model="Model.Location" />
}

<partial name="commentsShow" model="Model" /> @* COMENTARII-> afisare + adaugare*@

<br />
<div>
    <a class="btn btn-outline-primary" asp-controller="Posts" asp-action="Index"><i class="bi bi-pencil-square"></i>Back to posts</a>
</div>
