@model ProiectDAW.Models.Group

<br />
<h2 class="text-center mt5">Edit Group</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Groups" asp-route-id="@Model.Id">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="form-label">Group Name</label>
                    <br />
                    <input asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label">Group Description</label>
                    <br />
                    <textarea asp-for="Description" class="form-control"></textarea>

                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success">Edit Group</button>

            </form>
        </div>
    </div>

</div>