@if (ViewBag.Comment != null)
{

    

    <form method="post" asp-controller="Comments" asp-action="Edit" asp-route-id="@ViewBag.Comment.Id">

        <label>Comment</label>
        <br />

        <textarea class="form-control" id="commentText" name="Text" rows="4" required>@ViewBag.Comment.Text</textarea>
        <br />

        <button class="btn btn-success mt-3" type="submit">Edit</button>
    </form>

}
